<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>{{ title }}</h2>
</div>
<button type="button" class="btn btn-primary" [routerLink]="['/paciente/new']"><span class="fa fa-plus"></span> Adicionar Paciente</button>
<div *ngIf="!pacienteList"> Cargando listado... </div>
<table *ngIf="pacienteList" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th style="width: 250px;">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacienteList">
            <td>{{ paciente.id }}</td>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.apellido }}</td>
            <td>
                <button type="button" class="btn btn-success btn-sm" 
                        routerLink="/paciente/edit/{{paciente.id}}">Editar</button>
                <button type="button" class="btn btn-danger btn-sm"
                        (click)="deletePacienteAction(paciente.id)">Eliminar</button>
                <button type="button" class="btn btn-info btn-sm"
                        routerLink="/paciente/notas/{{paciente.id}}">Ver Nota</button>
            </td>
        </tr>
    </tbody>
</table>