<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>{{ title }}</h2>
</div>
<button type="button" class="btn btn-primary" [routerLink]="['/especialidad/new']"><span class="fa fa-plus"></span> Adicionar Especialidad</button>
<div *ngIf="!especialidadList"> Cargando listado... </div>
<table *ngIf="especialidadList" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>ESPECIALIDAD</th>
            <th>DESCRIPCION</th>
            <th style="min-width: 80px;">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let especialidad of especialidadList">
            <td>{{ especialidad.id }}</td>
            <td>{{ especialidad.nombre }}</td>
            <td>{{ especialidad.descripcion }}</td>
            <td>
                <button type="button" class="btn btn-success btn-sm" routerLink="/especialidad/edit/{{especialidad.id}}">Editar</button>
            </td>
        </tr>
    </tbody>
</table>