<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>{{ title }}</h2>
</div>
<form (ngSubmit)="saveHospital()">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre hospital:</label>
        <input id="nombre" name="nombre" type="text" class="form-control" 
                [(ngModel)]="hospital.nombre">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-right: 4px;">Guardar</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/hospital/list']">Cancelar</button>
</form>