<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>{{ title }}</h2>
</div>
<button type="button" class="btn btn-primary" 
        [routerLink]="['/hospital/new']"><span class="fa fa-plus"></span> Adicionar Hospital
</button>
<div *ngIf="!hospitalList"> Cargando listado... </div>
<table *ngIf="hospitalList" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>HOSPITAL</th>
            <th style="width: 170px;">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hospital of hospitalList">
            <td>{{ hospital.id }}</td>
            <td>{{ hospital.nombre }}</td>
            <td>
                <button type="button" class="btn btn-success btn-sm" 
                        routerLink="/hospital/edit/{{hospital.id}}">Editar</button>
                <button type="button" class="btn btn-danger btn-sm"
                        (click)="deleteHospitalAction(hospital.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>